{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Page content -->
<div class="container" id="person">

  <!-- Introduction row -->
  <div class="row">

    <!-- Header -->
    <div class="col-lg-12">
      <div itemscope itemtype="http://schema.org/Person">
        <h1 class="page-header"><span itemprop="name">{{ .Params.firstname }} {{ .Params.lastname }}</span>
          <small>{{ .Params.position }}</small>
        </h1>
      </div>
    </div>

    <!-- Contact -->
    <div class="col-lg-12" id="contact">
      <ul class="list-inline">

        {{ if .Params.mail }}
        <li><span class="fas fa-envelope"></span> {{ .Params.mail }}</li>
        {{ end }}

        <!--
        {{ if .Params.phone }}
        <li><span class="fa fa-phone"></span> {{ .Params.phone }}</li>
        {{ end }}
        -->

        {{ if .Params.twitter }}
        <li><span class="fab fa-twitter"></span><a href="https://twitter.com/{{ .Params.twitter }}">twitter.com/{{ .Params.twitter }}</a></li>
        {{ end }}

        {{ if .Params.github }}
        <li><span class="fab fa-github"></span><a href="https://github.com/{{ .Params.github }}">github.com/{{ .Params.github }}</a></li>
        {{ end }}

      </ul>
    </div>

  </div>

  <!-- Content row -->
  <div class="row">
    
    <!-- Custom content -->
    <div class="col-lg-12">
      <img src="{{ .Params.portrait }}" class="thumbnail img-responsive">
      {{ .Content }}
    </div>

  </div>

  <!-- Publications row -->
  <div class="row">
    <div class="col-lg-12 publications">
      <h1>Publications</h1>

      {{ .Scratch.Set "abbrv" .Params.abbrv }}
      {{ range sort .Site.Data.publications.references "publicationYear" "desc" }}
      {{ $abbrv := $.Scratch.Get "abbrv" }}
      {{ $abbrvcontrib := print $abbrv "*" }}
      {{ if or ( in .publicationAuthors $abbrv ) ( in .publicationAuthors $abbrvcontrib ) }}

      {{ if eq .itemType "journalArticle" }}

      <p class="reference">

          {{ if .doi }}
          <a href="https://dx.doi.org/{{ .doi }}">{{ .publicationTitle }}</a><br>
          {{ else if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.
          
          {{ $.Scratch.Set "equalcontribution" false }}
          {{ range .publicationAuthors }}
              {{ if in . "*" }} {{ $.Scratch.Set "equalcontribution" true }} {{ end }}
          {{ end }}
          {{ if $.Scratch.Get "equalcontribution" }}
          <small>*Equal contribution</small><br>
          {{ end }}

          <em>"{{ .journal }}"</em>,

          {{ if .volume }}Vol. {{ .volume }},{{ end }}
          {{ if .issue }}Issue {{ .issue }},{{ end }}
          {{ if .pages }}Pages {{ .pages }},{{ end }}
          <strong>{{ .publicationYear }}</strong>.
      </p>

      {{ end }}

      {{ if eq .itemType "conferencePaper" }}

      <p class="reference">

          {{ if .doi }}
          <a href="https://dx.doi.org/{{ .doi }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          <em>"{{ .conferenceName }}"</em>,

          {{ if .place }}{{ .place }}.{{ end }}
          <strong>{{ .publicationYear }}</strong>.

      </p>

      {{ end }}

      {{ if eq .itemType "bookSection" }}

      <p class="reference">

          {{ if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          {{ if .journal }}In <em>"{{ .journal }}"</em>,{{ end }}
          

          {{ if .publisher }}{{ .publisher }},{{ end }}
          {{ if .place }}{{ .place }},{{ end }}
          {{ if .pages }}Pages {{ .pages }}.{{ end }}
          
          <strong>{{ .publicationYear }}</strong>.

      </p>

      {{ end }}

      {{ if eq .itemType "thesis" }}

      <p class="reference">

          {{ if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          <em>"{{ .publicationTitle }}"</em>.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          {{ .thesisType }} thesis, Université Libre de Bruxelles.
          <strong>{{ .publicationYear }}</strong>.

      {{ end }}

      {{ end }}{{ end }}

    </div>

  </div>

</div>

<script type="text/javascript">

    /* Underline author name in the publication list */
    var name = {{ .Params.abbrv }}

      /* Underline author names when they are part of the lab (with mark.js) */

    function underlineAuthors (name) {
        var instance = new Mark(document.querySelector("div.publications"));
        instance.mark(name, {
            "element": "span",
            "className": "highlight",
            "separateWordSearch": false,
        });
    };

    underlineAuthors(name);

</script>

{{ partial "footer.html" . }}
