{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Page content -->
<div class="container" id="person">

  <!-- Introduction row -->
  <div class="row">

    <!-- Header -->
    <div class="col-lg-12">
      <div itemscope itemtype="http://schema.org/Person">
        <h1 class="page-header"><span itemprop="name">{{ .Params.firstname }} {{ .Params.lastname }}</span>
          <small>{{ .Params.position }}</small>
        </h1>
      </div>
    </div>

    <!-- Contact -->
    <div class="col-lg-12" id="contact">
      <ul class="list-inline">

        {{ if .Params.mail }}
        <li><span class="fa fa-envelope"></span> {{ .Params.mail }}</li>
        {{ end }}

        {{ if .Params.phone }}
        <li><span class="fa fa-phone"></span> {{ .Params.phone }}</li>
        {{ end }}

        {{ if .Params.twitter }}
        <li><span class="fa fa-twitter"></span> <a href="https://twitter.com/{{ .Params.twitter }}">@{{ .Params.twitter }}</a></li>
        {{ end }}

        {{ if .Params.github }}
        <li><span class="fa fa-github"></span> <a href="https://github.com/{{ .Params.github }}">@{{ .Params.github }}</a></li>
        {{ end }}

      </ul>
    </div>

  </div>

  <!-- Content row -->
  <div class="row">
    
    <!-- Custom content -->
    <div class="col-lg-12">
      <img src="{{ .Params.portrait }}" class="thumbnail img-responsive">
      {{ .Content }}
    </div>

  </div>

  <!-- Publications row -->
  <div class="row">
    <div class="col-lg-12">
      <h1>Publications</h1>

      {{ $.Scratch.Set "lastname" .Params.lastname }}
      
      {{ range ((where .Site.RegularPages ".Section" "publication").GroupByParam "year").Reverse }}

      {{ $.Scratch.Set "activity" false }}
      {{ range .Pages }}
      {{ if in .Params.lastnames ($.Scratch.Get "lastname") }}
      {{ $.Scratch.Set "activity" true }}
      {{ end }}
      {{ end }}

      {{ if $.Scratch.Get "activity" }}
      <h3>{{ .Key }}</h3>
      {{ end }}

      {{ range .Pages }}
      {{ if in .Params.lastnames ($.Scratch.Get "lastname") }}
      <p>{{ if .Params.doi }}<a href="http://dx.doi.org/{{ .Params.doi }}">{{ .Title }}</a>{{ else }}<strong>{{ .Title }}</strong>{{ end }}<br>
        {{ delimit .Params.authorship ", " " and " }}.<br>
        <em>"{{ .Params.journal }}"</em>, {{ if .Params.volume }}vol. {{ .Params.volume}}, {{ end }}{{if .Params.issue }}issue {{ .Params.issue}}, {{ end }}{{ .Params.year }}.
      </p>
      {{ end }}
      {{ end }}
      {{ end }}

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
