{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Full width image header -->
<header class="header-image" style="background-image: url('{{ .Params.image }}'">
  <div class="headline">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="container">

  <!-- Topic details -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Informations</h1>
      {{ .Content }}
    </div>

    <div class="col-md-12">
      <h1 class="page-header">Related publications</h1>
      {{ $.Scratch.Set "topic" .Params.ref }}
      <!-- Iterate over publication data and check if there is an authored paper -->
      {{ range .Site.Sections.publication.Pages }}
      
      <!-- Iterate a first time to check if there is articles for the step year -->
      {{ $.Scratch.Set "activity" false }}
      {{ range .Pages }}
      {{ $lastname := $.Scratch.Get "topic" }}
      {{ if in .Params.keywords $topic }} {{ $.Scratch.Set "activity" true }} {{ end }}
      {{ end }}

      <!-- Iterate a second time to show articles -->
      {{ range .Pages }}

      <!-- Show reference if authored articles -->
      {{ if in .Params.keywords ($.Scratch.Get "topic") }}
      <p>{{ if .Params.doi }}<a href="http://dx.doi.org/{{ .Params.doi }}">{{ .Title }}</a>{{ else }}<strong>{{ .Title }}</strong>{{ end }}<br>
        {{ delimit .Params.authors ", " " and " }}.<br>
        <em>"{{ .Params.journal }}"</em>, {{ .Params.year }}.
      </p>
      {{ end }} {{ end }} {{ end }}

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
