{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Full width image header -->
<header class="header-image" style="background-image: url('{{ .Params.image }}'">
  <div class="headline">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="container">

  <!-- Topic details -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="col-md-12 publications">
      <h1 class="page-header">Related publications</h1>

      {{ $.Scratch.Set "topic" .Params.ref }}
      {{ range sort .Site.Data.publications.references "publicationYear" "desc" }}
      {{ if in .zoteroTags ($.Scratch.Get "topic") }}

      <p class="reference">

          {{ if .doi }}
          <a href="https://dx.doi.org/{{ .doi }}">{{ .publicationTitle }}</a><br>
          {{ else if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          <em>"{{ .journal }}"</em>,

          {{ if .volume }}Vol. {{ .volume }},{{ end }}
          {{ if .issue }}Issue {{ .issue }},{{ end }}
          {{ if .pages }}Pages {{ .pages }},{{ end }}
          <strong>{{ .publicationYear }}</strong>.
      </p>

      {{ end }}
      {{ end }}

    </div>

  </div>

</div>

<script>



</script>

{{ partial "footer.html" . }}
