{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Full width image header -->
<header class="header-image" style="background-image: url('{{ .Params.image }}'">
  <div class="headline">
    <div class="container">
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</header>

<!-- Page content -->
<div class="container">

  <!-- Topic details -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ .Title }}</h1>
      {{ .Content }}
    </div>

    <div class="col-md-12">
      <h1 class="page-header">Related publications</h1>
      {{ $.Scratch.Set "topic" .Params.ref }}
      <!-- Iterate over publication data and check if there is an authored paper -->
      {{ range sort .Site.Sections.publication.Pages "Params.year" "desc" }}

      <!-- Show reference if authored articles -->
      {{ if in .Params.keyword ($.Scratch.Get "topic") }}

      <p>{{ if .Params.doi }}<a href="http://dx.doi.org/{{ .Params.doi }}">{{ .Title }}</a>{{ else }}<strong>{{ .Title }}</strong>{{ end }}<br>
        {{ delimit .Params.authorship ", " " and " }}.<br>
        <em>In "{{ .Params.journal }}"</em>, {{ if .Params.volume }}vol. {{ .Params.volume}}, {{ end }}{{if .Params.issue }}issue {{ .Params.issue}}, {{ end }}{{ .Params.year }}.
      </p>
      {{ end }}

      {{ end }}

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
