<footer class="footer">

  <div class="container">

    <!-- Lab logo -->
    <div class="col-sm-4">

      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logohorizontaltextwhite }}" class="img-responsive lablogo">
      </a>
    </div>

    <!-- Contact -->
    <div class="col-sm-4 address">
      <p>
        <strong>Spatial Epidemiology Lab (SPELL)</strong><br>
        Université Libre de Bruxelles CP 160/12<br>
        Avenue F. Roosevelt, 50<br>
        B-1050 Brussels, Belgium
      </p>
    </div>

    <!-- University -->
    <div class="col-sm-4">
      <a href="http://www.ulb.ac.be">
        <img src="/logo/ulb.jpg" class="img-responsive univlogo">
      </a>
    </div>

  </div>

</footer>

</body>
</html>
