<footer class="footer">

  <div class="container">

    <!-- Lab logo -->
    <div class="col-sm-4">

      <a href="{{ .Site.BaseURL }}">
        <img src="/logo/spell-logo_grey_noText.png" height=60px width=auto style="margin-top:20px">
      </a>
    </div>

    <!-- Contact -->
    <div class="col-sm-4 address">
      <p>
        <strong>Spatial Epidemiology Lab (SpELL)</strong><br>
        Université Libre de Bruxelles CP 160/12<br>
        Avenue F. Roosevelt, 50<br>
        B-1050 Brussels, Belgium
      </p>
    </div>

    <!-- University -->
    <div class="col-sm-4">
      <a href="http://www.ulb.ac.be">
        <img src="/logo/ulbWithText.png" height=60px width=auto style="margin-top:20px;display:inline;float:right">
      </a>
    </div>

  </div>

</footer>

</body>
</html>
