<footer class="footer">

  <div class="container">

    <!-- Lab logo -->
    <div class="col-sm-4">

      <a href="{{ .Site.BaseURL }}">
        <img src="/logo/spell-logo_grey_noText.png" height=65px width=auto style="margin-top:20px;float:left">
      </a>
      <!-- Admin -->
      <!--
      <ul id="admin">
        <li><a href="https://spell.yannforget.me">Update</a></li>
        <li><a href="/piwik">Analytics</a></li>
      </ul>
      -->
    </div>

    <!-- Contact -->
    <div class="col-sm-4 address">
      <p>
        <strong>Spatial Epidemiology Lab (SpELL)</strong><br>
        Université Libre de Bruxelles CP 264/03<br>
        Avenue F. Roosevelt, 50<br>
        B-1050 Brussels, Belgium
      </p>
    </div>

    <!-- University -->
    <div class="col-sm-4">
      <a href="http://www.ulb.ac.be">
        <img src="/logo/ulbWithText.png" height=60px width=auto style="margin-top:20px;display:inline;float:right">
      </a>
    </div>

  </div>

</footer>

</body>
</html>

<script>

    /* Underline author names when they are part of the lab (with mark.js) */

    var names = [
        "S. Dellicour",
        "M. Gilbert",
        "J.-C. Grégoire",
		"F. Gámbaro",
		"M.-C. Dupas",
		"C. Lescoat",
		"B. Vrancken",
		"C. Pelletier",
		"A. Rivera",
		"B. De Tandt",
		"K. Serres",
		"C. Marsboom",
		"J. Thibaut",
		"N. Bollen",
		"Y. Li",
		"D. Erazo",
		"G. Ghisbain",
		"D. S. Candido",
		"T. P. Van Boeckel",
		"M. F. Vincenti-González",
        "J. Artois",
        "C. Linard",
        "C. Chaiban",
        "C. Tisseuil",
        "M. Dhingra",
        "Q. Zhao",
        "Y. Forget",
        "D. Schar",
        "C. R. Axelsson",
        "M. Jacquot"
    ]

    function underlineAuthors (names) {
        var instance = new Mark(document.querySelector("div.publications"));
        instance.mark(names, {
            "element": "span",
            "className": "highlight",
            "separateWordSearch": false,
        });
    };

    underlineAuthors(names);

</script>