{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container" id="news">

  <div class="row">

    <div class="col-md-12">

      <h1 class="page-header">News</h1>

      {{ range .Paginator.Pages }}

          <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
          <p><small>On {{ .Date.Format "January 02 2006" }}{{ if .Params.author }} by {{ .Params.author }}{{ end }}</small><br>
          {{ .Summary }} {{ if .Truncated }}<a href="{{ .Permalink }}">Read more...</a>{{ end }}</p>

      {{ end }}
      {{ template "_internal/pagination.html" . }}

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
