{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">

  <div class="row">

    <div class="col-md-12 redacted-content">

      <h1 class="page-header">{{ .Title }}</h1>

      <p><em>Published on {{ .Date.Format "January 02, 2006" }}, by {{ .Params.author }}</em></p>

      {{ if gt .FuzzyWordCount 1000}}
      <div class="toc well">
        <h3>Contents</h3>
        {{ .TableOfContents }}
      </div>
      {{ end }}

      {{ .Content }}

    </div>

  </div>

</div>

{{ partial "footer.html" . }}
