{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<!-- Page content -->
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">{{ .Params.name }}</h1>
      {{ .Content }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Related publications</h1>

      {{ .Scratch.Set "projectRef" .Params.ref }}
      {{ range sort .Site.Data.publications.references "publicationYear" "desc" }}
      {{ if in .zoteroTags ($.Scratch.Get "projectRef") }}

      {{ if eq .itemType "journalArticle" }}

      <p class="reference">

          {{ if .doi }}
          <a href="https://dx.doi.org/{{ .doi }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          <em>"{{ .journal }}"</em>,

          {{ if .volume }}Vol. {{ .volume }},{{ end }}
          {{ if .issue }}Issue {{ .issue }},{{ end }}
          {{ if .pages }}Pages {{ .pages }},{{ end }}
          <strong>{{ .publicationYear }}</strong>.
      </p>

      {{ end }}

      {{ if eq .itemType "conferencePaper" }}

      <p class="reference">

          {{ if .doi }}
          <a href="https://dx.doi.org/{{ .doi }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          <em>"{{ .conferenceName }}"</em>,

          {{ if .place }}{{ .place }}.{{ end }}
          <strong>{{ .publicationYear }}</strong>.

      </p>

      {{ end }}

      {{ if eq .itemType "bookSection" }}

      <p class="reference">

          {{ if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          {{ .publicationTitle }}.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          {{ if .journal }}In <em>"{{ .journal }}"</em>,{{ end }}
          

          {{ if .publisher }}{{ .publisher }},{{ end }}
          {{ if .place }}{{ .place }},{{ end }}
          {{ if .pages }}Pages {{ .pages }}.{{ end }}
          
          <strong>{{ .publicationYear }}</strong>.

      </p>

      {{ end }}

      {{ if eq .itemType "thesis" }}

      <p class="reference">

          {{ if .publicationUrl }}
          <a href="{{ .publicationUrl }}">{{ .publicationTitle }}</a><br>
          {{ else }}
          <em>"{{ .publicationTitle }}"</em>.<br>
          {{ end }}

          {{ delimit .publicationAuthors ", " ", and " }}.<br>

          {{ .thesisType }} thesis, Université Libre de Bruxelles.
          <strong>{{ .publicationYear }}</strong>.

      {{ end }}

      {{ end }}{{ end }}

    </div>
  </div>

</div>

{{ partial "footer.html" . }}
